<!-- I know this is bad but I always put my css in the file until Im finished then I move it for quick editing -->
<style type="text/css">
    .apiInformationColumn {
        float: left;
        font-size: 14px;
        padding-bottom: 20px;
        padding-left: 90px;
    }

    .apiInformationActions {
        float: left;
        font-size: 14px;
        padding-bottom: 20px;
        padding-left: 90px;
    }

    .apiHeaderColumn {
        padding-left: 5%;
        width: 14%;
        float: left;
        text-emphasis: #40e0d0;
        border-style: none;
    }

    .footer {
        padding-top: 120px;
    }

    table thead th, #account-actions {
        white-space: nowrap;
    }

    #signOutOfallAccounts {
        float: left;
    }

        /*
        #addTwitterbutton {
            margin-top: 80px;
            position: relative;
        }
        */

</style>
<% provide(:title, 'Active Sessions') %>
<span id="sessionDeleteResult"></span>
<h2>Manage Your Active Mobile Device Logins</h2>

<table class="table table-striped">
  <thead>
  <th>Source</th>
  <th>Device</th>
  <th>IP Addres</th>
  <th>Initiated</th>
  <th>Actions</th>

  </thead>
  <tbody>
  <% if not @mobile_sessions.blank? %>
      <% @mobile_sessions.each do |mobile_session| %>
          <tr id="sessionContainer_<%= mobile_session.id.to_s %>">
            <td id="sessionSource<%= mobile_session.id.to_s %>">Mobile</td>
            <td id="sessionDevice<%= mobile_session.id.to_s %>"><%= mobile_session.device_name %></td>
            <td id="sessionIpAddres<%= mobile_session.id.to_s %>"><%= mobile_session.ip_address %></td>
            <td id="sessionInitiated<%= mobile_session.id.to_s %>"><%= mobile_session.updated_at.strftime('%m/%d/%Y') %></td>
            <td id="account-actions">
              <%= link_to "Sign Out", nil, :id => "sessionLogOut_#{mobile_session.id}" %>
            </td>
          </tr>
      <% end %>
  <% else %>
      <tr>
        <td> You don't have any active mobile sessions.</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
  <% end %>
  </tbody>
</table>

<% if not @mobile_sessions.blank? %>
    <%= link_to "Sign Out Of All Sessions", nil, :id => "sessionLogOut_all" %>
<% end %>

<script type="text/javascript">
    remove_all = false
    $("[id^=sessionLogOut_]").each(function (key) {
        $('#' + this.id).click(function (e) {
            e.preventDefault();
            if (this.id.split('_')[1] == 'all') {
                remove_all = true;
            }
            triggering_session = e;
            $.ajax({
                type:"POST",
                url:"<%= url_for :controller => :sessions, :action => :sign_out_of_device %>",
                data:{mobile_session_id:this.id}
            }).success(
                    function (response) {
                        $('#sessionDeleteResult').html('<div class="alert alert-success">' + response + '</div>')
                        if (remove_all) {
                            $("[id^=sessionContainer_]").each(function () {
                                $('#' + this.id).hide();
                            })
                        } else {
                            $('#' + triggering_session.currentTarget.parentElement.parentElement.id).hide();
                        }


                    }).error(function (response) {
                        steve = response
                        $('#sessionDeleteResult').html('<div class="alert alert-error">' + response.responseText + '</div>')
                    });
        })
    })
</script>
