<div class="row wrapper adminSection">
  <h1>All users</h1>

  <div class="row">
  <%= will_paginate @users%>
  </div>

  <section class="row">
    <table class="admin_table table_bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th></th>
          <th>Username</th>
          <th>Posts</th>
          <th>Comments</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %>
            <td><%= image_tag user.profile_photo_url %></td>
            <td><%= link_to user.name, {:controller => :admin, :action => :view_user, :id => user.id} %></td>
            <td>Posts (<%= user.posts.count %>)</td>
            <td>Comments (<%= user.comments.count %>)</td>
            <td><%= user.status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>

  <div class="row">
  <%= will_paginate @users%>
</div>
</div>