<% provide(:title, "Edit user") %>
<section id="editUsers" class="wrapper">
	
	<header class="row">
		<h1>Update your profile</h1>
	</header>
	
	<div class="row">
	<% if !@user.is_suspended? %>
		<div class="col3 pull_left">
	        <div id="photoSelectorWrapper" class="white_well">
		
				<div id="selectorWrapper" class="row">

					<div class="row">
						<div class="col6">
							<p>Select your profile photo</p>
						</div>
					</div>
				
					<div class="col2 pull_left">
						<div class="row">
							<%= image_tag "icon_blue_80x80.png", id: "SPS" %>
						</div>
						<div class="row">
							<p>Slinggit</p>
						</div>
					</div>

					<% if not @user.primary_twitter_account.blank? %>
						<div class="col2 pull_left">
							<div class="row">
								<%= image_tag @user.primary_twitter_account.image_url, id: "TPS" %>
							</div>
							<div class="row">
								<p>Twitter</p>
							</div>
						</div>
					<% end %>

					<% if not @user.primary_facebook_account.blank? %>
						<div class="col2 pull_left">
							<div class="row">
								<%= image_tag @user.primary_facebook_account.image_url, id: "FPS" %>
							</div>
							<div class="row">
								<p>Facebook</p>
							</div>
						</div>
					<% end %>

					<div class="col2 pull_left">
						<div class="row">
							<%= gravatar_for @user %>
						</div>
						<div class="row">
							<p>Gravatar | <a href="https://gravatar.com/emails" target="_blank">change</a></p>
						</div>
					</div>

				</div>

			</div>
	    </div>
	</div>
	
	<div class="row">
		<div id="editUserFormWrapper" class="col3 pull_left white_well">
			
		<%= form_for @user do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

				<fieldset class="row">
					<%= f.label :name, class: "col6 control-label" %>
	                <p class="col6"><%= @user.name %></p>
	            </fieldset>

	            <fieldset class="row">
					<%= f.label :email, class: "col6 control-label", for: "user_email" %>
					<%= f.text_field :email, class: "col6 form_singleLine" %>
				</fieldset>

	            <fieldset class="row">
					<%= f.label :password, class: "col6 control-label", for: "user_password" %>
					<%= f.password_field :password, class: "col6 form_singleLine" %>
	            </fieldset>

	            <fieldset class="row">
					<%= f.label :password_confirmation, "Confirm Password", class: "col6 control-label", for: "user_password_confirmation" %>
					<%= f.password_field :password_confirmation, class: "col6 form_singleLine" %>
	            </fieldset>

	            <%= f.hidden_field :photo_source %>

	            <% if !session['access_secret'].nil? && !session['access_token'].nil? %>
					<%= f.hidden_field :twitter_atoken, value: session['access_token'] %>
					<%= f.hidden_field :twitter_asecret, value: session['access_secret'] %>
	            <% end %>

	              <%= f.button "Save", type: "submit", class: "btn_green col3" %>
		<% end %>
		</div>


	<% else %>

		<div class="row notice">
        	You are currently in time out.  As a result of this, you cannot edit your profile.
      	</div>  

	<% end %>
	</div>
	<div class="row" style="margin-top: 20px;">
    	<a href="<%= url_for :controller => :users, :action => :delete_account %>">Delete Account</a>
    </div>

</section>
<script type="text/javascript">
	$(document).ready(function(){
		window.initPhotoEditor("<%= @user.id %>", false)
	})
</script>
