<% provide(:title, "Create Password") %>
<section class="wrapper page_col singleWide">
  <%= render 'shared/error_messages', object: @user %>
  <br/>
  <header>
    <h1>Create your New Password</h1>
  </header>

  <p>Please chose a safe and secure password that is at least 6 characters in length. If you forget it, you can always reset it again.</p>

  <%= form_tag('/users/enter_new_password') do |f| %>
      <fieldset>
        <br/>
        <%= label_tag "New password" %>
        <%= password_field_tag :password, nil, :placeholder => 'Password', class: "form_singleLine" %>
        <%= label_tag "Password confirmation" %>
        <%= password_field_tag :password_confirmation, nil, :placeholder => 'Confirm Password', class: "form_singleLine" %>
        <%= hidden_field_tag :id, @password_reset_code %>
      </fieldset>
      <fieldset>
        <%= submit_tag "Update", class: "btn" %>
        <%= hidden_field_tag :retain_password_reset_code, true  %>
      </fieldset>
  <% end %>

</section>
